version: '3'
services:
  jenkins-master:
    image: jenkins/jenkins
    container_name: jenkins-master
    hostname: jenkins-master
    restart: always
    environment:
      - TZ="Europe/Paris"
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
    networks:
      production:
        ipv4_address: 172.10.0.2
      integration:
        ipv4_address: 173.10.0.2
      deployer:
        ipv4_address: 174.10.0.2


  slave-debian-11:
    container_name: slave-debian-11
    hostname: slave-debian-11
    tty: true
    build: 
      context: debian-bullseye-ssh
      args:
        - ROOT_PASSWORD=root
        - JENKINS_LINUX_USER=jenkins
        - JENKINS_LINUX_PASSWORD=jenkins
    restart: always
    environment:
      - TZ="Europe/Paris"
    ports:
      - "8200:80"
      - "2200:22"
    networks:
      production:
        ipv4_address: 172.10.0.3
      integration:
        ipv4_address: 173.10.0.3

  deployer-debian-11:
    container_name: deployer-debian-11
    hostname: deployer-debian-11
    tty: true
    build: 
      context: debian-bullseye-ssh
      args:
        - ROOT_PASSWORD=root
        - JENKINS_LINUX_USER=deployer
        - JENKINS_LINUX_PASSWORD=deployer
    restart: always
    environment:
      - TZ="Europe/Paris"
    ports:
      - "8201:80"
      - "2201:22"
    networks:
      deployer:
        ipv4_address: 174.10.0.3


volumes:
  jenkins_home:
  maven_home:

networks:
  production:
    driver: bridge
    ipam:
     config:
       - subnet: 172.10.0.0/16
         gateway: 172.10.0.1
  integration:
    driver: bridge
    ipam:
     config:
       - subnet: 173.10.0.0/16
         gateway: 173.10.0.1
  deployer:
    driver: bridge
    ipam:
     config:
       - subnet: 174.10.0.0/16
         gateway: 174.10.0.1  